<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./ejsPartials/head.ejs') %>
</head>

<body>

    <%- include('./ejsPartials/header.ejs') %>
    <%- include('./ejsPartials/embededForm.ejs') %>
    <%- include('./ejsPartials/embededProductList.ejs') %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../static/client.js"></script>
</body>
<footer>
    <%- include('./ejsPartials/footer.ejs') %>
</footer>

</html>